@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --surface: #dde1ea;
  --primary: #6482ad;
  --primary-on: #ffffff;
  --highlight: #5ab2ff;
  --font-default: #000000;
}

body {
  background: var(--background);
  color: var(--font-default);
  font-family: Arial, Helvetica, sans-serif;
}
